@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-top {
    top: 150px; /* Vælg præcis afstand */
  }
  .custom-top-lower {
    top: 600px; /* Juster efter behov */
  }
  .custom-top-desktop {
    top: 300px;
  }
  .custom-top-lower-desktop {
    top: 580px;
  }
  .custom-top-wave {
    top: 120px;
  }
}
